// ########  Mobile Version  ############

.main {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav {
	display: grid;
  grid-template-rows: auto 1fr;
	gap: 0.5em;
  background-color: #FFF200;
  color: black;
  z-index: 1000;
  height: 95px;
  max-height: 95px;                
  transition: max-height 0.6s ease; /* smooth animation */
  overflow: hidden;
}

nav.opened {
  height: 100%;
  max-height:100%
}

// header
header {
  display: grid;
  grid-template-columns: auto auto 1fr;        
  gap: 15px;
  align-items: center;  
  padding: 0 0;
  flex-shrink: 0;
}

header div {         
  padding: 15px;
  text-align: center;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.burger {
  justify-self: end;
}

.logo img {
  height: 60px;          
  width: auto;
  filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
}

.burger img {
  height: 40px;          
  width: auto;
}

header,footer {
	grid-column: 1 / -1;
}

// Nav Items
.nav-items {
  display: flex;
  flex-direction: column;
  gap: 15px; 
  overflow-y: auto;
  scrollbar-width: thin;
}

.item-container{
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 15px;
  padding-left: clamp(15px, 5vw, 40px);
  padding-top: clamp(5px, 3vw, 15px);
  font-size: 20px;
}

.child-title {
  padding-left: clamp(20px, 7vw, 50px);
  font-size: 20px;
  padding-top: clamp(5px, 3vw, 15px);
}

.arrow.rotated {
  color: darkgray;
}

.item-title {
  &:hover {
    cursor: pointer;
    color: darkgray;
  }
}

.child-title {
  &:hover {
    cursor: pointer;
    color: darkgray;
  }
}

.burger {
  &:hover {
    cursor: pointer;
    color: darkgray;
  }
}

.arrow {
  &:hover {
    cursor: pointer;
    color: darkgray;
  }
}

.router-container {
  overflow: auto;
  scrollbar-width: thin;
  height: calc( 100% - 95px );
  width: 100%;
}

@media (width <= 600px) {
  .title {
    visibility: hidden;
  }
}


