<div class="wrapper">
    <div class="image-container">
        <img  src="assets/images/abteilungsbilder/placeholder_image.jpg" />
    </div>
    <div class="content">
        <h1 class="headline">Sportangebot im Fussball</h1>
        <table class="outer-table">
            <tbody>
                <ng-container *ngFor="let group of groups">
                <tr (click)="toggleExpand(group)" [class.expanded]="expandedGroup === group">
                    <td>
                        <button *ngIf="expandedGroup !== group">+</button>
                        <button *ngIf="expandedGroup === group">-</button>
                    </td>
                    <td>{{ group.groupname }}</td>
                </tr>

                <tr *ngIf="expandedGroup === group">
                    <td colspan="3">
                        <div class="expanded-content">
                            <div class="image"></div>
                            <div class="contact-container">
                                <div class="contact-box">jonasseecker@tleos-web.de</div>
                                <div class="contact-box"></div>
                                <div class="contact-box"></div>
                                <div class="contact-box"></div>
                                <div class="contact-box"></div>
                                <div class="contact-box"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>