.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image-container {
    position: relative;
    width: 100vw;
    height: 30vh; /* 30% of viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* stretch to fill */
    display: block;
    filter: grayscale(100%);
}

.overlay-title {
    position: absolute;
    font-size: 26px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 50px;
    font-weight: bold;
    border-radius: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

@media (width <= 800px) {
  .content{
    width:90%;
  }
  .contact-box {
    width: 100%;
  }
}

.headline {
    margin-top: 10vh;
}

table {
    width: 100%;
}

tr {
    padding-top: 80px;
}

.expanded-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.image {
    width: 100%;
    height:50px;
    background-color: green
}

.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.contact-box {
    min-width: 120px;
    height: 80px;
    background-color: grey;
}