.wrapper {
  width: 100%;
  height:100%;
  margin: auto;
  position: relative;
  text-align: center;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.image-container img {
  width: 100%;
  display: block;
}

.text-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%; /* adjust width as needed */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  color: #fff;
  display: flex;
  justify-content: center;   /* horizontal alignment of text */
  align-items: center;       /* vertical alignment of text */
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: bold;
  /* Animation */
  transform: translateX(100%);
  opacity: 0;
  animation: slideInRight 1s ease-out forwards;
}

/* Keyframes for slide-in effect */
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.text {
    text-align: left;
    line-height: 1.5;
    font-size: 25px;
}
